* {
  background-color: rgb(70, 124, 147);
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  text-align: center;
}

.post-cards {
  display: flex;
  height: 300px;
  width: 500px;
  background-color: rgb(75, 41, 41);
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-direction: column;
  color: white;
  border-radius: 50px;
  border: 5px solid rgb(184, 178, 178);
  box-shadow: 10px 10px 5px black;
}

.post-cards p {
  background-color: rgb(75, 41, 41);
}

.post-cards h3 {
  background-color: rgb(75, 41, 41);
}
