/* div {
  background-color: yellow;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
} */
.leftside {
  background-color: blue;
  position: absolute;
  width: 50px;
  height: 100vh;
  z-index: 1;
  margin: 0px 0px;
}
.rightside {
  background-color: blue;
  position: absolute;
  right: 0px;
  width: 50px;
  height: 100vh;
  z-index: 1;
}



.signUpForm {

  background-color: yellow;
  display: grid;
  grid-template-rows: repeat(6, calc(100vh / 12));
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  text-align: center;
} 

#signUpLabel {
  text-align: center;
  background-color: yellow;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  position: relative;
  width: 5rem;
  margin: 0 auto;
}
input {
  border-width: 8px;
  border-color: red;
  width: 40vw;
  margin: 0 auto;
}
button {
  background-color: whitesmoke;
  position: relative;
  margin: 20px auto;
  width: 10rem;
  height: 2rem;
}
