div {
  background-color: yellow;
  height: 100vh;
  width: 100vw;
}
.leftside {
  background-color: blue;
  position: relative;
  width: 50px;
  height: 100vh;
  z-index: 1;
}
.rightside {
  background-color: #008000;
  position: relative;
  top: -100vh;
  right: 0px;
  /* left: calc(90vw); */
  width: 50px;
  height: 100vh;
  z-index: 1;
}
form {
  display: grid;
  grid-template-rows: repeat(6, calc(100vh / 6));
  width: 60vw;
  height: 100vh;
  position: relative;
  left: 25vw;
  margin: -200vh 0px;
  overflow-y: scroll;
  text-align: center;
}

label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 2px;
}
input {
  border-width: 8px;
  border-color: red;
  width: 40vw;
  height: 20px;
}
