.leftside {
  position: absolute;
  width: 50px;
  height: 100vh;
  z-index: 1;
  margin: 0px 0px;
  animation: input 4s infinite alternate-reverse;
}
.rightside {
  position: absolute;
  right: 0px;
  width: 50px;
  height: 100vh;
  z-index: 1;
  animation: input 4s infinite alternate-reverse;
}
@keyframes input {
  from {
    background-color: radial-gradient(#9198e5, #e66465);
  }
  to {
    background: radial-gradient(#e66465, #9198e5);
  }
}

.signUpForm {
  background-color: yellow;
  display: grid;
  grid-template-rows: repeat(6, calc(100vh / 12));
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  text-align: center;
}

.signUpLabel {
  text-align: center;
  background-color: yellow;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  position: relative;
  width: 5rem;
  margin: 0 auto;
}
.signUpInput {
  border-radius: 20px;
  border-color: red;
  width: 40vw;
  margin: 0 auto;
}
.signUpInput:focus {
  background-color: white;
}
button {
  background-color: whitesmoke;
  position: relative;
  margin: 20px auto;
  width: 10rem;
  height: 2rem;
}
