.loginForm {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding: 40px;
    color: white;
}

.fullForm {
    text-align: center;
    /* padding: 50px; */
}

#legend {
    text-align: left;
    color: antiquewhite;
}

.Inputs {
    display: block;
    margin: 20px; 
    padding: 10px 0 10px 0;
    justify-content: center;
}

#border {
    border-color: rgb(75, 41, 41);
}

#button {
    background-color: rgb(75, 41, 41);
    color: antiquewhite;
}