.navbar {
  display: flex;
  height: 75px;
  background-color: rgb(75, 41, 41);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 3px solid rgb(184, 178, 178);
}

.navbar a {
  text-decoration: none;
  color: rgb(163, 154, 154);
  background-color: rgb(75, 41, 41);
  font-size: 20px;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar a:hover {
  color: rgb(2, 14, 54);
}
